<template>
  <v-data-table
    :headers="headers"
    :items="jobs"
    hide-actions
    class="elevation-1"
  >
    <template slot="items" slot-scope="job">
      <td>{{ job.item.orderId }}</td>
      <td>{{ job.item.orderDetailId }}</td>
      <td>{{ job.item.connectorFileReference }}</td>
      <td>{{ job.item.status }}</td>
      <td>{{ job.item.lastUpdate | formatDate }}</td>
    </template>
  </v-data-table>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { FETCH_ORDERS } from '@/store/action.types'

  export default {
    data () {
      return {
        headers: [
          { text: 'Order ID', value: 'orderId', sortable: false},
          { text: 'Job Id', value: 'orderDetailId', sortable: false },
          { text: 'Connector referentie', value: 'connectorFileReference', sortable: false },
          { text: 'Job Status', value: 'status', sortable: false },
          { text: 'Laatste update', value: 'lastUpdate', sortable: false }
        ],
        items: []
      }
    },
    computed: {
      ...mapGetters([
        'isLoading',
        'jobs'
      ])
    },
    created () {
      this.fetchOrders()
    },
    mounted () {
      this.fetchOrders()
    },
    methods: {
      fetchOrders () {
        this.$store.dispatch(FETCH_ORDERS, 1)
      }
    }
  }
</script>