<template>
  <div>
    <v-alert type="info" :value="true">
      HPMC endpoint: {{ endpoint }}
    </v-alert>
    <v-dialog 
        v-model="dialog"  max-width="700px">
      <v-btn color="primary" dark slot="activator" class="mb-2">Nieuwe PSP</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md6>
                <v-text-field label="PSP Naam" v-model="editedItem.name" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6>
                <v-text-field label="PSP Code" v-model="editedItem.pspCode" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <v-text-field label="PSP Token" v-model="editedItem.callbackToken" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <v-text-field label="Connector Key" v-model="editedItem.connector.key" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <v-text-field label="Connector Secret" v-model="editedItem.connector.secret" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*Verplichte velden</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close">Annuleren</v-btn>
          <v-btn color="blue darken-1" flat @click.native="save">Opslaan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-data-table
      :headers="headers"
      :items="psps"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="psp">
        <td>{{ psp.item.pspCode }}</td>
        <td>{{ psp.item.name }}</td>
        <td>{{ psp.item.connector.connectorCode }}</td>
        <td>{{ psp.item.connector.key }}</td>
        <td>{{ psp.item.connector.secret }}</td>
        <td class="layout px-0">
          <v-btn icon class="mx-0" @click="deleteItem(psp.item)">
            <v-icon color="pink">delete</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { FETCH_PSPS } from '@/store/action.types'
  import { CREATE_PSP, DELETE_PSP } from '@/store/mutation.types'

  export default {
    data () {
      return {
        dialog: false,
        headers: [
          { text: 'Code', value: 'pspCode', sortable: false},
          { text: 'Naam', value: 'name', sortable: false },
          { text: 'Connector', value: 'connector', sortable: false },
          { text: 'Key', value: 'key', sortable: false },
          { text: 'Secret', value: 'secret', sortable: false },
          { text: 'Acties', value: 'acties', sortable: false },
        ],
        endpoint: process.env.API_URL,
        items: [],
        editedIndex: -1,
        editedItem: {
          pspCode: '',
          name: '',
          callbackToken: '',
          connector: {
            key: '',
            secret: '' 
          }             
        },
        defaultItem: {
          pspCode: '',
          name: '',
          callbackToken: '',
          connector: {
            key: '',
            secret: '' 
          }
        }
      }
    },
    computed: {
      ...mapGetters([
        'pspIsLoading',
        'psps'
      ]),
      formTitle () {
        return this.editedIndex === -1 ? 'Nieuwe PSP' : 'Bewerk PSP'
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    },
    created () {
      this.fetchPsps()
    },
    mounted () {
      this.fetchPsps()
    },
    methods: {
      fetchPsps () {
        this.$store.dispatch(FETCH_PSPS, 1)
      },
      editItem (item) {
        this.editedIndex = this.psps.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (item) {
        if (confirm('Weet u zeker dat u deze PSP wilt verwijderen?')) {
          this.$store.dispatch(DELETE_PSP, item.pspCode)
          .then(() => {
            this.errors = {}
            this.psps.splice(this.psps.indexOf(item), 1)
          })
          .catch(({ response }) => {
            this.errors = response.data.errors
          })          
        }     
      },
      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.psps[this.editedIndex], this.editedItem)
        } else {
          this.$store.dispatch(CREATE_PSP, this.editedItem)
          .then(() => {
            this.psp = null
            this.errors = {}
          })
          .catch(({ response }) => {
            this.errors = response.data.errors
          })
          
        }
        this.close()
      }
    }
  }
</script>